# https://dart.dev/guides/libraries/private-files
# Created by `dart pub`
.dart_tool/

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/
.xcodemap

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

# Node.js
node_modules

# Visual Studio
*/bin
*/obj
*/.vs
*/x64
/ys_sign_cpp/ys_sign_cpp

!ys_sign_dart/bin